.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}
.main form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 24px;
    width: 50%;
}
.main form input {
    font-weight: 400 !important;
    font-family: 'MetroSans-Regular' !important;
}

@media screen and (max-width: 1279px) {
    .main form {
        width: 100%;
    }
}