.main {
    width: 100%;
    background-color: white !important;
    font-family: "MetroSans-Bold" !important;
    color: #2B3346 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    border-radius: 8px !important;
    height: 48px !important;
}
.main:hover {
    background-color: aliceblue !important;
}
.main[type="submit"] {
    box-shadow: 0px 15px 25px rgba(186, 233, 244, 0.15) !important;
    height: 60px !important;
}

@media screen and (max-width: 1440px) {
    .main[type="submit"] {
        height: 50px !important;
    }
}

@media screen and (max-width: 1280px) {
    .main {
        height: 40px !important;
    }
    .main[type="submit"] {
        height: 45px !important;
    }
}