.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.bigCard {
    height: calc(100vh - 310px)
}
.countdownLabel {
    font-size: 16px;
    margin-top: 16px;
}
.dopCard {
    background: rgba(174, 201, 233, 0.04);
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 16px;
}

@media screen and (max-width: 1440px) {
    .bigCard {
        height: calc(100vh - 274px);
    }
}

@media screen and (max-width: 1280px) {
    .bigCard {
        height: calc(100vh - 224px);
    }
}
@media screen and (max-width: 1279px) {
    .bigCard {
        height: fit-content;
        margin-top: 16px;
    }
    .countdownLabel {
        margin-top: 32px;
        margin-bottom: 66px;
    }
}