.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 103px; */
    margin-bottom: 103px;
}
.side {
    width: 50%;
}
.preHeader {
    margin-bottom: 12px;
}
.subHeader {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 8px;
    margin-bottom: 32px;
}
.subHeader img {
    position: absolute;
    left: -135px;
}
.subHeader h3 {
    margin-left: 160px;
}
.text {
    width: 83%;
}
.diamond {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.diamond img {
    width: 80%;
    animation: select 2s infinite ease-in-out;
}
.diamondMobile {
    display: none;
}


@keyframes select {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}


@media screen and (max-width: 1280px) {
    .side {
        width: 70%;
    }
}

@media screen and (max-width: 1279px) {
    .main {
        flex-direction: column;
    }
    .side {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .diamondMobile {
        display: flex;
        margin: 50px 0;
    }
    .diamondMobile img {
        width: 50%;
    }
    .diamond {
        display: none;
        justify-content: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 568px) {
    .diamondMobile {
        margin: 0px 0;
        margin-top: 20px;
    }
    .diamondMobile img {
        width: 40%;
    }
}

@media screen and (max-width: 468px) {
    .main {
        margin-bottom: 0;
    }
    .diamondMobile {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .diamondMobile img {
        width: 65%;
    }
    .main button {
        margin: auto;
    }
    .subHeader img {
        left: -205px;
    }
    .subHeader h3 {
        margin-left: 100px;
    }
    .text {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .diamondMobile {
        margin-bottom: 0px;
    }
    .diamondMobile img {
        width: 40%;
    }
}

@media screen and (max-width: 330px) {
    .main {
        margin-bottom: 0px;
    }
}