
.wrapper {
  transition: all 1s ease-in-out;
  height: 100vh;
  background-image: url('../../Images/mint_bg.webp');
  background-size: cover;
  
  &.home {
    background-image: url('../../Images/homebg.webp');
  }

  &.about_us {
    background-image: url('../../Images/about_us_bg.webp');
  }
  &.how_it_works{
    background-image: url('../../Images/how_it_works_bg.webp');
  }
  &.mint {
    background-image: url('../../Images/mint_bg.webp');
  }
  &.contact_us{
    background-image: url('../../Images/contact_us_bg.webp');
  }
}