.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 140px;
    /* padding-top: 76px; */
    box-sizing: border-box;
    height: calc(100vh - 76px);
    justify-content: center;
}
@media screen and (max-width: 850px) {
    .main {
        max-height: calc(100vh - 76px);
        overflow-y: scroll;
    }
}
@media screen and (max-width: 768px) {
    .main {
        padding: 0 70px;
    }
}

@media screen and (max-width: 568px) {
    .main {
        padding: 0 24px;
    }
}

@media screen and (max-width: 350px) {
    .main {
        padding: 0 15px;
        max-height: calc(100vh - 66px);
        height: calc(100vh - 66px);
    }
}