.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 40px;
    animation: fade 2s ease-in-out;
}
.main a {
    width: 32px;
    height: 3px;
    background: #FFFFFF;
    opacity: 0.15;
    transition-duration: .7s;
}
.main a:hover {
    opacity: 0.5;
}
.main a.active {
    opacity: 1;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1 }
}

@media screen and (max-width: 468px) {
    .main {
        display: none;
    }
}